################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cmpt395project1/.vs/cmpt395project1.slnx/FileContentIndex
